#maincontent .bundle-options-container .bundle-options-wrapper, .bundle-options-container .product-options-wrapper{
	float: right;
}

#maincontent .bundle-options-container .block-bundle-summary{
	float: left;
}

#maincontent .bundle-options-container .product-add-form{
	display: block;
}

 .options-list img {
    cursor: pointer;    
}
.large {
    display: none;
    position: absolute;    
    color: #FFFFFF;
    background: #fff;    
    padding: 10px;
	z-index:10;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.1)
}

/****************add css by shiva*************/

.bundle-options-container .product-add-form .block-bundle-summary{margin:0px; padding:0px; box-shadow:0 1px 1px rgba(0, 0, 0, 0.05); border:1px solid #e4e4e4; width:30%; padding-bottom:15px; box-sizing:border-box }
.bundle-options-container .product-add-form .block-bundle-summary .bundle-summary{margin-top:0px; }
.bundle-options-container .product-add-form .block-bundle-summary .content{padding-left:15px; padding-right:15px; }
.bundle-options-container .product-add-form .block-bundle-summary .bundle-summary .subtitle{padding:10px 15px; margin:0px 0px; width:inherit; margin-left:-15px; margin-right:-15px; background:linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%); color:#333; margin-bottom:15px; font-weight:normal;}
.bundle-options-container .product-add-form .block-bundle-summary .content .box-tocart{margin-bottom:0px;}
.bundle-options-container .product-add-form .block-bundle-summary .box-tocart .action.primary{width:100%; margin-right:0px; }
.bundle-options-container .product-add-form .block-bundle-summary .box-tocart .qty .label{padding:5px 0px 0px 0px; width:50px; float:left; }
.bundle-options-container .product-add-form .block-bundle-summary .content .price-box .price-as-configured .price-wrapper .price{color:#1979c3; font-size:28px; }

.bundle-options-container .product-add-form .bundle-options-wrapper{width:70%; padding-left:40px; box-sizing:border-box; }
.bundle-options-container .product-add-form .bundle-options-wrapper .product-options-wrapper{width:100% }

.bundle-options-container .product-options-wrapper .fieldset .fieldset-bundle-options .choice{margin-bottom:10px; padding:0px; border:0px; float:left; width:90%; padding-top:15px;  }
.product-options-wrapper .fieldset .field h3.bundle-toggle{ background:linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%); color:#333; font-size:20px; border:1px solid #e4e4e4; padding:13px 15px; width:100%; margin:0px; box-sizing:border-box; font-weight:normal; position:relative; cursor:pointer;}
.product-options-wrapper .fieldset .field h3.bundle-toggle:after{position:absolute; content:""; background:url(../images/accodion-arrow.png) no-repeat; width:14px; height:25px; right:18px; top:10px;   }
.product-options-wrapper .fieldset .control{border:1px solid #e4e4e4; border-top:0px; padding:0px; box-sizing:border-box; width:100%!important; float:left;   }

.bundle-options-wrapper .product-info-price{width:100%; position:relative; box-sizing:border-box; margin-bottom:20px; min-height:300px; border:1px #e4e4e4 solid; padding:75px 20px 20px 290px;  }
.bundle-options-wrapper .product-info-price p:empty{display:none }
.bundle-options-wrapper .product-info-price .bundle-product-image{width:250px; position:absolute; left:0px;   }
.bundle-options-wrapper .product-info-price h1{background:linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%); color:#333; font-size:20px; border:1px solid #e4e4e4; padding:13px 15px; width:100%; margin:0px; box-sizing:border-box; font-weight:normal; position:absolute; cursor:pointer; left:0px; top:0px; border:0px;}
.bundle-options-wrapper .product-info-price p{font-size:15px; padding:0px 0px 10px 0px; }
.bundle-options-wrapper .product-info-price ul{padding:0px 0px 15px 12px ; margin:0px; }
.bundle-options-wrapper .product-info-price ul li{list-style:outside none circle; margin:0px 0px 6px 0px }
.bundle-options-wrapper .product-info-price .price-box .price-container .price-wrapper .price{color:#1979c3; font-size:28px; }
.accodion-items{box-sizing:border-box; width:100%; border-top:1px solid #eeeeee; margin-bottom:0px; padding:10px 15px ; float:left;  } 
.choice .none-option{min-height:45px; }
.options-list{float:left; width:100%; }
.options-list .accodion-items:first-child{border-top:0px; }
.accodion-items .image-thumb{width:10%; height:50px; float:left; }

.header-main{width:100%; position:relative; box-sizing:border-box; margin-bottom:0px; border:1px #e4e4e4 solid; text-align:center}
.header-main .header-title{background:linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%); color:#333; font-size:20px; border:1px solid #e4e4e4; padding:13px 15px; width:100%; margin:0px; box-sizing:border-box; font-weight:normal; border:0px;}
.header-main .header-content{padding:25px 15px ; } 


.accodion-items .choice .label span a.opemmodalpopup{width:100%; display:block; background:url(../images/search-icon.png) no-repeat right center }
.accodion-items .choice .label a.opemmodalpopup{width:100%; display:block; background:url(../images/search-icon.png) no-repeat right center }
.accodion-items a.opemmodalpopup{width:100%; display:block; background:url(../images/search-icon.png) no-repeat right center }
.bundle-options-wrapper .bundle-options-container .product-options-bottom{border-top:0px; padding-top:0px; }
.fieldset-bundle-options .field.option{width:100%; float:left; border:0px!important; padding:0px!important; }


/*******Popup css************/
.page-product-bundle .modal-inner-wrap .modal-header{border-bottom:1px solid #e5e5e5; width:100%; margin-bottom:25px; padding:20px 15px; box-sizing:border-box; }
.page-product-bundle .modal-inner-wrap .modal-header h1.modal-title{border-bottom:0px; font-weight:normal; margin-bottom:0px; padding-bottom:0px; font-size:24px; }
.page-product-bundle .modal-inner-wrap .modal-content .productName{width:100%; border-bottom:1px #ccc solid; padding-bottom:15px; }
.page-product-bundle .modal-inner-wrap .modal-content .productImage{float:left; width:40%; }
.page-product-bundle .modal-inner-wrap .modal-content .productDesc{float:left; width:60%; box-sizing:border-box; padding:0px 0px 0px 25px; }
.page-product-bundle .modal-inner-wrap .modal-content .addbutton{float:left; width:60%; box-sizing:border-box; padding:0px 0px 0px 25px; }
.modal-inner-wrap .modal-content .addbutton .addItem{background:#1979c3; color:#fff; padding:8px 15px; border:0px; border-radius:2px; font-size:16px; }
.page-product-bundle .modal-inner-wrap .modal-content .productDesc ul{padding:0px 0px 15px 12px ; margin:0px; }
.page-product-bundle .modal-inner-wrap .modal-content .productDesc ul li{list-style:outside none circle; }
.page-product-bundle .modal-popup .modal-inner-wrap .modal-footer{padding:20px;border-top:1px solid #e5e5e5; }





