#maincontent .bundle-options-container .bundle-options-wrapper, .bundle-options-container .product-options-wrapper{
	float: right;
}

#maincontent .bundle-options-container .block-bundle-summary{
	float: left;
}

#maincontent .bundle-options-container .product-add-form{
	display: block;
}

 .options-list img {
    cursor: pointer;    
}
.large {
    display: none;
    position: absolute;    
    color: #FFFFFF;
    background: #333333;    
    padding: 5px;
}